<div class="card" style="width: 18rem;">
  <img src="{{beers.image_url}}" class="card-img-top" alt="picture of beer">
  <div class="card-body">
    <h5 class="card-title">{{beers.name}}</h5>
    <p class="card-text">{{beers.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{beers.tagline}}</li>
  </ul>
</div>